---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Techs from '../../components/Techs.astro';
import Projects from '../../components/Projects.astro';
---

<Layout title="Portfolio - Valentin Penna">
	<main class="flex items-center p-6 md:p-16 flex-col gap-10">
		<Header/>
		<Techs/>
		<Projects/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		color: white;
		font-size: 1.5rem;
		line-height: 1.6;
	}
</style>