---
import { getLangFromUrl, useTranslations } from '../components/i18n/utils';
import LenguagePicker from './LenguagePicker.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div class="w-full flex flex-col items-center">
<div class="flex gap-4 items-center self-end">
    <p class="text-lg font-bold">{t("lang")}:</p>
    <LenguagePicker/>
</div>
<header class="flex w-full sm:w-3/4 md:w-2/3 lg:w-1/2 items-center flex-col">
        <div class="w-fit m-auto mb-6 flex gap-4">
            <img src="/assets/avatar.png" alt="" class="rounded-full size-28 sm:size-36 self-center">
            <div class="flex flex-col self-center">
                <p class="text-xl font-semibold">{t("header.greeting")}</p>
                <h1 class="text-4xl sm:text-5xl font-bold text-primary">Valentin Penna</h1>
                <h3 class="text-2xl sm:text-3xl font-bold">- {t("header.role")}</h3>
            </div>
        </div>
        <p class="text-base text-justify font-semibold">{t("header.desc1")}<br />{t("header.desc2")}</p>
</header>
<div/>