---
import { getLangFromUrl, useTranslations } from './i18n/utils';

interface Props {
    title: string;
    description: string;
    techs: string[];
    repoUrl: string;
    deployUrl: string;
    imgsRoute: string;
}

const { title, description, techs, repoUrl, deployUrl, imgsRoute } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div class="flex flex-col gap-6">
    <h3 class="text-2xl font-bold self-center text-primary">{title}</h3>
    <div class="flex flex-wrap gap-2">
        <img src={"/assets/projects/" + imgsRoute + "/1.png"} alt="" class="object-cover rounded-2xl grow basis-[200] w-48 sm:w-52 md:w-56 lg:w-80 xl:w-96"/>
        <img src={"/assets/projects/" + imgsRoute + "/2.png"} alt="" class="object-cover rounded-2xl grow basis-[200] w-48 sm:w-52 md:w-56 lg:w-80 xl:w-96"/>
        <img src={"/assets/projects/" + imgsRoute + "/3.png"} alt="" class="object-cover rounded-2xl grow basis-[200] w-48 sm:w-52 md:w-56 lg:w-80 xl:w-96"/>
        <img src={"/assets/projects/" + imgsRoute + "/4.png"} alt="" class="object-cover rounded-2xl grow basis-[200] w-48 sm:w-52 md:w-56 lg:w-80 xl:w-96"/>
    </div>
    <div class="flex flex-col gap-4">
        <p class="text-lg font-normal">{description}</p>
        <p class="text-lg font-semibold">{t("projects.techs")}: {techs.join(", ")}</p>
        <div class="flex gap-4 self-end items-center">
            <a href={repoUrl} target="_blank" class="text-lg font-normal italic text-primary">{t("projects.repo")}</a> |
            <a href={deployUrl} target="_blank" class="text-lg font-normal italic text-primary">{t("projects.deploy")}</a>
        </div>
    </div>
</div>