---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Portfolio - Valentin Penna">
	<main class="flex items-center p-6 md:p-16 flex-col gap-10">
        <h1>Admin</h1>
        <a href="">Subir Proyecto</a>
        <a href="">Actualizar Proyecto</a>
        <a href="">Eliminar Proyecto</a>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		color: white;
		font-size: 1.5rem;
		line-height: 1.6;
	}
</style>